.cnt {
  padding-top: 10px;
}
.form-container {
  margin-inline: 2rem;
  margin-block: 1rem;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
}

.form-container button {
  margin-left: 1rem;
}
.label {
  padding-right: 0.5rem
}