.navbar {
  top: 0;
  left: 0;
  background-color: #010A3D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
}

.list-item {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

.list-item a {
  color: var(--yellow);
  height: 0%;
  border-bottom: 4px solid transparent;
  position: relative;
  right: 2rem;
}

.title {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}



.list-item a:hover,
.list-item a.active {
  background-color: #EB6841;
  color: white;
  position: relative;
}

@media screen and (max-width: 576px){
  .navbar {
    display: flex;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: 0.3fr 0.0fr;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--azul-oscuro);
    flex-wrap: nowrap;
    align-content: stretch;
  }

  .list-item a {
    position: relative;
    top: 0rem;
    right: 9rem;
  }

  .title > input {
    background-color: #EB6841;
  }
}